.custom-navbar-brand {
    color: #000000; /* Màu chữ */
    border: 2px solid #6f42c1; /* Khung bao màu tím */
    border-radius: 5px; /* Đường viền bo tròn (tuỳ chọn) */
    padding: 5px 10px; /* Khoảng cách giữa chữ và khung bao */
    text-decoration: none; /* Bỏ gạch chân */
  }
  
  .custom-navbar-brand:hover {
    background-color: #6f42c1; /* Màu nền khi hover */
    color: #ffffff; /* Giữ màu chữ khi hover */
  }
  .text-purple {
    color: #6f42c1; /* Màu tím */
  }
  /* NewDeitail.css */
.container {
  padding: 0 30px; /* Padding horizontal 30px */
  display: flex;
  flex-direction: column;
  align-items: center; /* Căn giữa các phần tử */
}
.image-gallery {
align-items: center;
}
.image {
  width: 800px; /* Kích thước chiều rộng */
  height: 400px; /* Kích thước chiều cao */
  object-fit: cover; /* Đảm bảo hình ảnh không bị biến dạng */
  align-items: center;
}

.content {
  line-height: 1.6; /* Khoảng cách dòng */
  font-size: 18px; /* Kích thước chữ nội dung */
  text-align: justify; /* Căn đều nội dung */
}
/* index.css */
.content-gallery {
  margin: 20px 0; /* Khoảng cách giữa nội dung và hình ảnh */
}

.image {
  width: 300px; /* Kích thước chiều rộng hình ảnh */
  height: 300px; /* Kích thước chiều cao hình ảnh */
  object-fit: cover; /* Đảm bảo hình ảnh không bị biến dạng */
  margin: 10px 0; /* Khoảng cách giữa hình ảnh và đoạn văn */
}
.countdown-bubble {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgba(255, 255, 255, 0.8); /* Màu nền bong bóng */
  border-radius: 15px;
  padding: 10px 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.inactive-dialog {
  position: fixed;
  bottom: 20px; /* Cách đáy 20px */
  right: 20px; /* Cách bên phải 20px */
  background-color: rgba(255, 0, 0, 0.8); /* Màu nền đỏ trong suốt */
  color: white; /* Màu chữ trắng */
  padding: 10px 20px; /* Padding */
  border-radius: 8px; /* Bo góc */
  z-index: 1000; /* Đảm bảo nó nằm trên cùng */
}
